*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-size: contain;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    
    width: 100%;
    height: 300px;
    /* background: #ff663c; */
    background-size: contain;
    background-position: center;
    padding: 40px;
    color: ivory;
    font-size: 3em;
    text-align: left;
    background-image: url('https://gin-tsuki.github.io/Images/bg.jpg');
    background-size: cover;
}

.katsu {
    float: left;
    margin-left: 30%;
    width: 200px;
    line-height: 0px;
    filter: drop-shadow(0px 5px 50px rgb(255, 255, 241));
}

header p{
    padding-left: 10px;
    font-size: 1.5em;
    line-height: 0px;
    
}

nav {
    position: sticky;
    padding: 20px;
    background-color: #241426;
    text-decoration: none;
}


nav a{
    font-size: 1.5em;
    padding: 20px;
    text-decoration: none;
    color: #ffd8ac;
}

a:hover{
    font-size: 1.7em;
    color: #ff663c;
}

.nav {
    position: sticky;
    top: 0;
    
}


section{
    text-align: center;
    font-size: 1.5em;
}

section.sec2 {
    background-color: #ffd8ac;
}

section img {
    margin: 20px;
    width: 40%;
    box-shadow: 8px 5px 15px  #241426;
}


@media all and (max-width: 1000px) and (min-width: 721px) {
    header{
        padding: 5%;
        font-size: 2.5em;
    }
    .katsu{
        
        margin-left: 10%;
    }
}


footer {
text-align: center;
background-color: #241428;
color: #ffd8ac;
padding: 20px;
font-size: 1.2em;
}

footer img {
width: 40px;
}

@media all and (max-width: 720px){
    header{
      text-align: center;
      font-size: 1.7em;
   
 }

    .katsu {
      padding: 17px;
      width: 150px
     
}
    nav a{
      font-size: 1.2em;
}
    a:hover{
    font-size: 1.4em;
 
}
}